/* 设置 body 属性 */
body {
    font-family: Arial;
    padding: 2px;
    background: #c1e0e3;
  }

/* 导航条 */
  nav {
    overflow: hidden;
    background-color: #333;
  }
  
/* 导航条链接 */
  nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    border-radius: 2px;
    text-decoration: none;
  }

/* 设置鼠标悬停 */
  nav a:hover {
    background-color: #555;
    color: #fff;
  }

/* 设置激活页面的导航标签 */
  .activated {
    background-color: #0fa826;
  }

  .login {
    margin-top: 10%;
    margin-left: 25%;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 3px;
    width: 50%;
    height: 60%;
  }

  input {
    margin: 20px 5px;
  }